        .searchbar{
            
            height: 36px;
            flex:1;
            padding-left: 10px;
            font-size: 16px;
            border-width: 1px;
            border-color: rgb(190, 190, 190);
            border-style: solid;
            border-radius: 2px;
            box-shadow: inset 1px 2px 3px rgba(0, 0, 0, 0.05);
            width:0;
        }
        .searchbar:hover{
            cursor:text;
        }
        .searchbar::placeholder{
            font-family: Roboto, arial;
            font-size:16px;
        }
        
        .header{
            position: fixed;
            height:55px;
            left: 0;
            right:0;
            top:0;
            z-index: 2;
            border-bottom-width: 1px;
            border-bottom-style: solid;
            border-bottom-color:rgb(190, 190, 190);;
            background-color: white;
            justify-content: space-between;
            display:flex
        }
        .header-left{
            
            display:flex;
            align-items: center;

        }
        .header-mid{
            display: flex;
            align-items: center;
            flex:1;
            margin-left: 70px;
            margin-right: 35px;
            max-width: 500px;
           
        }
        .header-right{
            width: 200px;
            display:flex;
            align-items: center;
            justify-content: space-between;
            flex-shrink: 0;
        }
        .hamburger-menu{
            height:24px;
            margin-left: 24px;
            margin-right: 24px;
        }
        .youtube-logo{
            height: 20px;
        }
        .search-icon{
            margin-top: 4px;
            height:25px;
        }
        .voice-search-icon{
            height:25px;
            margin-top: 4px;
        }
        .voice-search-button{
            height:40px;
            width:40px;
            border-width: 0;
            background-color: rgb(245, 245, 245);
            border-style: solid;
            border-radius: 20px;
            margin-left: 10px;

        }
        .voice-search-button:hover{
            cursor:pointer;
        }
        .search-button{
            height:39px;
            width:66px;
            border-width: 1px;
            background-color: rgb(240, 240, 240);
            border-color: rgb(190, 190, 190);
            border-style: solid;
            border-radius: 2px;
            margin-left: -1px;
        }
        .search-button:hover{
            cursor:pointer;
        }
        .upload-icon{
            height: 24px;
        }
        .upload-icon:hover{
            cursor:pointer;
        }
        .apps-icon{
            height:24px;
        }
        .apps-icon:hover{
            cursor:pointer;
        }
        .notifications-icon{
            height:24px;
        }
        .notifications-icon:hover{
            cursor:pointer;
        }
        .current-user-picture{
            height:32px;
            border-radius: 50%;
            margin-right: 20px;
        }
        .current-user-picture:hover{
            cursor:pointer;
        }
        .sidebar{
            position:fixed;
            background-color: white;
            top:55px;
            bottom: 0;
            left: 0;
            width:74px;
            display:flex;
            flex-direction:column;
            align-items:center;
            z-index: 3;
        }
        .sidebar-icons{
            margin-top: 20px;
            height:24px;
            width: 100%;
            display:flex;
            justify-content: center;
            align-items: center ;
        }
        .sidebar-text{
            font-family: Roboto,Arial;
            text-align: center;
            font-size: 10px;
        }
        .sidebar-div{
            height:74px;
            width:100%;
        }
        .sidebar-div:hover{
            background-color: rgb(227, 227, 227);
            cursor:pointer;
        }
        .notifications-icon-container{
            position:relative;

        }
        .notifications-count{
            top:-1px;
            right:-2px;
            position:absolute;
            background-color: red;
            color: white;
            border-radius: 50%;
            padding-left: 4px;
            padding-right: 4px;
            font-family: Roboto,Arial;
            font-size: 12px;
        }